/* Global */

body{
    background:#f5f7fb;
    font-family:Arial, Helvetica, sans-serif;
}

/* Navbar */

.navbar-brand{
    font-size:1.3rem;
}

/* Cards */

.stat-card{
    border:none;
    border-radius:16px;
    box-shadow:0 6px 16px rgba(0,0,0,.08);
    transition:.25s;
}

.stat-card:hover{
    transform:translateY(-4px);
}

.card{
    border:none;
    border-radius:16px;
    box-shadow:0 6px 16px rgba(0,0,0,.08);
}

/* Titles */

h4{
    font-weight:700;
}

/* Buttons */

.btn{
    border-radius:10px;
}

/* Search Box */

.form-control{
    border-radius:10px;
}

/* Fund List */

#fundList{

    min-height:120px;

}

/* Footer */

footer{

    text-align:center;
    margin-top:40px;
    color:#888;
    font-size:14px;

}
